<div class="max-w-xl mx-auto">
    <div class="flex items-center justify-between mb-6">
        <h1 class="text-2xl font-semibold text-neutral-900 flex items-center gap-2">
            <z-icon [zType]="CirclePlus" class="text-primary-500 w-6 h-6"></z-icon>
            {{ mode === 'crear' ? 'Crear nueva atracción' : 'Editar atracción' }}
        </h1>

        <z-button zType="ghost" [routerLink]="['/admin', 'atracciones']">
            <z-icon [zType]="ArrowLeft"></z-icon>
            Volver
        </z-button>


    </div>
    <z-card class="w-full max-w-sm text-start">
        <form [formGroup]="form" class="space-y-4">
            <div>
                <label class="text-sm font-medium">Nombre</label>
                <input z-input formControlName="nombre" placeholder="Saltos del delta" />
                <p *ngIf="f['nombre'].touched && f['nombre'].invalid" class="text-xs text-red-500">
                    2-50 caracteres requeridos.
                </p>
            </div>

            <div>
                <label class="text-sm font-medium">Tipo</label>
                <select z-input formControlName="tipo" class="border rounded-md h-10 px-2 w-full bg-white">
                    <option value="" disabled>Seleccionar tipo de atraccion</option>
                    <option value="MontañaRusa">Montaña rusa</option>
                    <option value="Simulador">Simulador</option>
                    <option value="Espectáculo">Espectáculo</option>
                    <option value="ZonaInteractiva">Zona interactiva</option>
                </select>
                <p *ngIf="f['tipo'].touched && f['tipo'].invalid" class="text-xs text-red-500">
                    Debe seleccionar un tipo de atraccion.
                </p>
            </div>

            <div>
                <label class="text-sm font-medium">Edad mínima</label>
                <input z-input formControlName="edadMinima" placeholder="16" type="number" />
                <p *ngIf="f['tipo'].touched && f['tipo'].invalid" class="text-xs text-red-500">
                    Ingrese una edad válida
                </p>
            </div>

            <div>
                <label class="text-sm font-medium">Capacidad máxima</label>
                <input z-input formControlName="capacidadMaxima" placeholder="50" type="number" />
                <p *ngIf="f['capacidadMaxima'].touched && f['capacidadMaxima'].invalid" class="text-xs text-red-500">
                    Ingrese una capacidad válida
                </p>
            </div>



            <div class="space-y-3">
                <div>
                    <label class="text-sm font-medium">Descripción</label>
                    <input z-input type="text" formControlName="descripcion" />
                    <p *ngIf="f['descripcion'].touched && f['descripcion'].invalid" class="text-xs text-red-500">
                        Ingrese una descripción válida
                    </p>
                </div>
            </div>

            <div>
                <label class="text-sm font-medium">Disponibilidad</label>
                <div class="flex flex-col gap-2 mt-1">
                    <span z-radio name="disponible" formControlName="disponible" [value]="true">
                        Disponible
                    </span>
                    <span z-radio name="disponible" formControlName="disponible" [value]="false">
                        No disponible
                    </span>
                </div>
            </div>


            <div class="flex justify-end gap-3 pt-4">
                <button z-button zType="ghost" routerLink="/admin/atraccion">Cancelar</button>
                <button z-button zType="default" (click)="onSubmit()" [zLoading]="loading">
                    {{ mode === 'crear' ? 'Crear atracción' : 'Guardar cambios' }}
                </button>
            </div>
        </form>
    </z-card>
</div>